<li class="image-show">
  <img class="image-URL" src="http://lorempixel.com/400/200/">
  <p class="image-caption">Caption Lorem</p>
</li>
<li class="image-show">
  <img class="image-URL" src="http://lorempixel.com/400/200/">
  <p class="image-caption">Caption Lorem</p>
</li>
{{yield}}
