{{link-to "Add images" 'images.create'}}
{{#each model as |image|}}
  <li class="image-show">
    <img class="image-URL" src="{{image.url}}">
    <p class="image-caption">{{image.caption}}</p>
  </li>
{{/each}}
{{yield}}
