<form class="form-create-image">
  <button class="button-show-form">+</button>
  <input class="input-add-URL" type="text" placeholder="Image URL">
  <input class="input-add-caption" type="text" placeholder="Image Caption">
  <div class="form-controls">
    <button class="button-cancel">Cancel</button>
    <button class="button-add">Add Image</button>
  </div>
</form>
<ul class="image-index">
  <li class="image-show">
    <img class="image-URL" src="http://lorempixel.com/400/200/">
    <p class="image-caption">Caption Lorem</p>
  </li>
</ul>





{{outlet}}
