<button class="button-create-image">+</button>
<input class="input-add-URL" type="text" placeholder="Image URL">
<input class="input-add-caption" type="text" placeholder="Image Caption">



{{outlet}}
