{{#link-to 'users.create'}}
  <div>{{#paper-button}}Sign Up{{/paper-button}}</div>
{{/link-to}}

{{#link-to 'sessions.create'}}
  <div>{{#paper-button}}Log In{{/paper-button}}</div>
{{/link-to}}

{{outlet}}
