{{#link-to 'users.create'}}
  <p>{{#paper-button classNames="md-primary"}}Sign Up{{/paper-button}}</p>
{{/link-to}}

{{#link-to 'sessions.create'}}
  <p>{{#paper-button classNames="md-primary"}}Log In{{/paper-button}}</p>
{{/link-to}}

{{outlet}}
